
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.shadow { 
   color: white; 
   font: bold 51px monospace, Helvetica, Arial, Serif;
   text-shadow: 1px 1px red, 
                2px 2px red, 
                3px 3px red;
   -webkit-transition: all 0.12s ease-out;
   -moz-transition:    all 0.12s ease-out;
   -ms-transition:     all 0.12s ease-out;
   -o-transition:      all 0.12s ease-out;
}
.shadow:hover {
   position: relative; 
   top: -3px; 
   left: -3px; 
   text-shadow: 1px 1px red, 
                2px 2px red, 
                3px 3px blue, 
                4px 4px blue, 
                5px 5px orange, 
                6px 6px orange;
}

h4 {
  font-family: "Alice";
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 0.5em 0;
    padding: 0;
}

a.list-post, a {
  text-decoration: none;
}

a.menu {
  font-family: "Alice";
  font-size: inherit;
  font-weight: bold;
  text-decoration: none;
}
a.menu:link {
  color: #222222;
}
a.menu:visited {
  color: grey;
}
a.menu:hover {
  color: #ff3300;
}

a.footer {
  font-family: "Alice";
  font-size: inherit;
  font-weight: bold;
  text-decoration: none;
}
a.footer:link {
  color: #222222;
}
a.footer:visited {
  color: grey;
}
a.footer:hover {
  color: #ff3300;
}


.list-post {
  color: #222222;
}
/*
a.footer:hover {
  color: #cc0000;
}*/

/*--*/
.hidden {
  display: none !important;
}
/* -- */

.u-img-responsive {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto; 
}

/*Cookie Consent Begin*/
#cookieConsent {
    background-color: rgba(20,20,20,0.8);
    min-height: 26px;
    font-size: 14px;
    color: #ccc;
    line-height: 26px;
    padding: 8px 0 8px 30px;
    font-family: "Trebuchet MS",Helvetica,sans-serif;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    z-index: 9999;
}
#cookieConsent a {
    color: #4B8EE7;
    text-decoration: none;
}
#closeCookieConsent {
    float: right;
    display: inline-block;
    cursor: pointer;
    height: 20px;
    width: 20px;
    margin: -15px 0 0 0;
    font-weight: bold;
}
#closeCookieConsent:hover {
    color: #FFF;
}
#cookieConsent a.cookieConsentOK {
    background-color: #F1D600;
    color: #000;
    display: inline-block;
    border-radius: 5px;
    padding: 0 20px;
    cursor: pointer;
    float: right;
    margin: 0 60px 0 10px;
}
#cookieConsent a.cookieConsentOK:hover {
    background-color: #E0C91F;
}
/*Cookie Consent End*/